.App {
  text-align: center;
}

header{
  height: 60px;
}

header h1{
  float: center;
  margin-top: 40px;
  color: #523393;
}
.navbar{
  float:right;
  padding-top: 20px;
}
.logo{
  display: inline-block;
  background: none;
  float: left;
  padding-left: 20px;
  font-family: 'Akronim', cursive;
  font-size: 25px;
	/* font-style: italic; */

}
.link{
  color: #444;
  font-weight: bold;
  margin-right: 20px;
}
.link:hover{
  color: #02b8dd;
}
