.App {
  text-align: center;
}

header{
  height: 120px;
}

header h1{
  float: center;
  margin-top: 40px;
  color: #523393;
}
nav{
  float:right;
}
.logo{
  display: inline-block;
  background: none;
  float: left;
  padding-left: 20px;
}
.link{
  color: #444;
  font-weight: bold;
  margin-right: 20px;
}
.link:hover{
  color: #02b8dd;
}
